@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.conteiner {
    display: flex;
    border-radius: 30px;
    max-width: 680px;
    width: 100%;
    box-shadow: 1px 10px 25px 10px hsl(221, 100%, 96%);
}

.result {
    border-radius: 30px;
    max-width: 340px;
    width: 100%;
    height: 475px;
    color: hsl(241, 100%, 89%);
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.media {    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.media p {
    opacity: 60%;
    margin: 0;
    font-weight: 500;
}

h3 {
    margin-top: 35px;
    margin-bottom: 35px;
    color: hsl(241, 100%, 89%)
}

h1 {
    font-size: 5rem;
    margin: 0;
    height: 95px;
}

h2 {
    margin-bottom: 10px;
}

#result-p {
    padding: 0 50px;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: medium;
    opacity: 90%;
}

.summary {
    max-width: 340px;
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(224, 30%, 27%);
    font-weight: 900;
}

table {
    border-collapse: collapse;
    margin: 30px auto ;
    height: 475px;
}

tr {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 7px;
    height: 50px;
    padding: 0 5px;
}

td {
    padding: 0 5px;
    margin: 0;
    font-weight: 700;
}

img {
    height: 20px;
    display: inline;
    vertical-align: middle;
    text-align: left;
}

button:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

button {
    background-image: linear-gradient(hsl(224, 30%, 27%), hsl(224, 30%, 27%));
    border-radius: 30px;
    width: 250px;
    height: 50px;
    border: none;
    margin-top: 30px;
    font-size: medium;
    font-weight: 700;
}

h1, h2, button {
    color: hsl(0, 0%, 100%);
}

.opacity {
    opacity: 55%;
}

#sumary-title {
    font-size: x-large;
}
#summary-reaction {
    color: hsl(0, 100%, 67%);
}

#tr-reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
}

#summary-memory {
    color: hsl(39, 100%, 56%);
}

#tr-memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

#summary-verbal {
    color: hsl(166, 100%, 37%);
}

#tr-verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

#summary-visual {
    color: hsl(234, 85%, 45%);
}

#tr-visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}
